<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Default NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Local Material Components package source -->
    <add key="local-material-components" value="../fifthbox-materialcomponents/src/MaterialComponents/" />
  </packageSources>
</configuration>

